@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Satisfy&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #1f1f38;
  --background-color-variant: #2c2c6c;
  --primary-color: #4db5ff;
  --primary-color-variant: rgba(77, 181, 255, 0.4);
  --white-color: #fff;
  --light-color: rgba(255, 255, 255, 0.6);

  --container-width-lg: 82%;
  --container-width-md: 88%;
  --container-width-sm: 92%;

  --transition: all 400ms ease;

  --secondary: #ffd24c;
  --light-sec: #ffe69a;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  color: var(--white-color);
  background-image: url("./img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.7;
  
}

/* ************** General Styles ************* */
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
}

section > h2,
section > h5 {
  text-align: center;
  color: var(--light-color);
}

section > h2 {
  color: var(--primary-color);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--light-color);
}

a {
  color: var(--primary-color);
  transition: var(--transition);
  text-decoration: none;
}

a:hover {
  color: var(--white-color);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--primary-color);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--primary-color);
  transition: var(--transition);
}

.btn:hover {
  background-color: var(--white-color);
  color: var(--background-color);
  border-color: transparent;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--background-color);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* ******* media query tablet ****** */
@media only screen and (max-width: 1024px) {
  .container{
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

/* ******* media query movile ****** */
@media only screen and (max-width: 600px) {
  .container{
    width: var(--container-width-sm);
  }

  section > h2{
    margin-bottom: 2rem;
  }
}

